<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>WhPo+zwnwQMI52vO5VNsac8MnStmYhLxa9655v8Ga4cNiBJvkyboYkRIsxhrJOIHaPAWP6itiDFEienmjd4jL/Q17awdkdyvI4B68+k0fpMb0fcYov6u/OlnBuyyDvk6aIH1W1xdvXRzaBtLCyMXJzYE7wa3UFkfxWHnzz+rvc6h5GUNDgpQEqnELT7yDYZslMybmJpe0fc2ejru0qqxkYW/7q1jt+TQklJqDC1rWFphimwR8fDIjrbezfByvnwtJqZghCc08ZDJpJ1EMfh31JvUx6MRoHPWKJbVXhtrRucD2xh3PlwZCkslsGuEPW0mMgZq1ec9HonAdgyg2hAWEg==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>5NnT2Kjg9SqnObVAs/2CLl+myKzuMx/386bE+2NCn2lWNgeBmgR9EEmFPRof4QF+</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>